<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>CAU-BREWERS</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="/static/cursor.js"></script>

</head>
<body>
  <div class="wrap">
      <div class="center2" id="pay_info2">
          <div class="finish">
                <p class="text">결제가 완료되었습니다</p>
                <button class="btn-ok" onclick="finish()">확인</button>
          </div>
      </div>
    
    <section class="coffee">

      <h2>CAU BREWERS DESSERT<br> <span class="colortext">MENU</span>
        <a href="index.html"><img src="/static/util_02.png" alt="" class="home"></a></h2>
    <ul>
        <li>
            <a href="#" class="menu_link">

                <p class="img"><img class="dessert"  onclick="pay_add(this)" src="/static/d_1.png" alt="3000원"></p>
            </a>
        </li>
        <li>
            <a href="#" class="menu_link">

                <p class="img"><img class="dessert" onclick="pay_add(this)" src="/static/d_2.png" alt="4000원"></p>
            </a>
        </li>
        <li>
            <a href="#" class="menu_link">

                <p class="img"><img class="dessert" onclick="pay_add(this)" src="/static/d_3.png" alt="4000원"></p>
            </a>
        </li>
    </ul>
    </section>

<!-- 여기에 자바스크립트로 메뉴를 누를때 금액과 수량 기재 되도록 할 예정-->

    <div class="result">
      <span class="pay_text" id="pay_text"></span>
      <img onclick="pay_result()" src="/static/pay.png" alt="">
      <img id="cancel" onclick="cancel()" src="/static/cancel.png" alt="payment">
    </div>
  </div>

</body>
</html>
