<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>CAU-BREWERS</title>
  <link rel="stylesheet" href="/static/style.css">
  <script type="text/javascript" src="/static/cursor.js"></script>

</head>
<body>
  <div class="wrap">
    <!-- <header>

        <div class="innerHeader" id="main">
          <nav class="util">
              <ul>
                <li><a href="index.html"><img src="img/util_01.png" alt="home"></a></li>
                <li><a href="index.html"><img src="img/util_02.png" alt="home"></a></li>
              </ul>
            </nav>
            <h1 class="logo"><a href="index.html"><img src="img/logo.png" alt="로고"></a>
        </div>
        <div class="title"><a href="index.html"><img src="img/title.png" alt="타이틀"></a>
      </div>

    </header> -->
    <!-- section .main -->

    
    <div class="main" id="main_ads" onclick="abs_click()">
      <div class="ads" id="ads">
        <h2> <span class="colortext">Monthly Drinks</span></h2>
      <div class="inner">
        <div class="Coffee_ads">
          <a href="#">
          <h2>Specials</h2> <br>
          <p>CAU BREWERS에서 준비한 <br>
          당신을 위한 이달의 특별한 음료.</p>
          </a>
            <ul id="coffee_img">
                <img src="/static/specials_1.png" alt="스페셜">
            </ul>
          </div>
        </div>
      </div>
<!-- section .menu-->

    <div class="menu" id="menu">

      <h2>CAU BREWERS<br> <span class="colortext">MENU</span></h2>
    <ul>
        <li>
            <a href="coffee.html" class="menu_link">
                <p>특별한 원두</p>
                <h3>BREWERS COFFEE</h3>
                <p class="img"><img src="/static/coffee_1.jpeg" alt="menuitem"></p>
            </a>
        </li>
        <li>
            <a href="tea.html" class="menu_link">
                <p>특별한 경험</p>
                <h3>BREWERS TEA</h3>
                <p class="img"><img src="/static/tea_1.jpeg" alt="menuitem"></p>
            </a>
        </li>
        <li>
            <a href="dessert.html" class="menu_link">
                <p>특별한 간식 든든한 한끼</p>
                <h3>BREWERS DESSERT</h3>
                <p class="img"><img src="/static/dessert_1.jpg" alt="menuitem"></p>
            </a>
        </li>
    </ul>
    </div>

<!-- <a href="index.html" class="top"><p>Top</p> </a> -->
      <!-- <footer>
          <div class="address">
            <p>
                (06974)서울특별시 동작구 흑석로 84 중앙대학교 CAU-BREWERS <br>전화 :02-820-5114  팩스 : 02-820-6114 소비자상담 : 1372(공정거래위원회 소비자 상담센터) <br>
                    <span class="copy">COPYRIGHT ⓒ 2020 CAU-BREWERS.ALL RIGHTS RESERVED</span>
            </p>
            <p class="flogo"><a href="#"><img src="img/title.png" alt="푸터로고"></a></p>
          </div>
      </footer> -->
    </div>
    </div>
</body>
</html>
