@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Patua+One&display=swap');

:root{
  --green:#0AE261;
}

html,
body {
  width: 100%;
  height: 100%;
  cursor: url(/static/cursor.cur) 0 0, auto
}
.hand:active {
  cursor: url(/static/cursor.cur) ,auto;
}

a {
  cursor: url(/static/cursor.cur), auto;
}

/*reset*/
* {margin: 0; padding: 0;}
li{list-style: none;}
a {color: inherit; text-decoration: none;}

/*layout*/
body {font-family: 'Patua One','Nanum Gothic', cursive; font-size: 16px; color: #333; line-height: 1.25;}
header {width: 100%; height: 90px; background: #fff; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);position: relative;}
.innerHeader .util ul { width: 270px; height: 100%; float: right; margin-top: 23px; margin-right: 1%;}
.innerHeader .util ul li {float: left; padding: 0 15px;}
.innerHeader .logo {width: 75px; line-height: 75px; float: left; margin-left: 8%; }
.innerHeader .logo a {display: block; width: 100%; height: 100%;}
.title {width: 270px; line-height: 90px; position: absolute; left: 50%; transform: translateX(-50%);}
.title a {display: block; width: 100%; height: 100%;}

/*main section*/
#coffee_img {margin-left: 100px; padding-left: 100px;}
.main {width: 90%; height: 90%; margin-top: 30px; background-image: url(background.png); background-size: cover; background-position:center; background-repeat: no-repeat; z-index: 100; margin-left: 90px; position: absolute;}
.main .ads {width: 1400px; margin: 10px auto; color: #333; margin-top: 50px;}
.main .ads h2 {text-align: center; font-size: 40px; font-weight: bold; margin-bottom: 50px; }
.main .ads h2 .colortext {color: #384C9F}
.main .inner {width: 1400px; height: 400px;margin: 10px;  position: relative;}
.main .inner .Coffee_ads {display: block; width: 653px; height: auto; }
.main .inner .Coffee_ads h2{ position: absolute; top: 13%; left: 0; font-size: 50px; line-height: 1.3; color: #222; animation-name: titani_1;  animation-duration: 1s;}
@keyframes titani_1 {
  0%{opacity: 0; top:0;}
  30%{opacity: 0; top:0;}
  100%{opacity: 1; top:13%;}
}


.main .inner .Coffee_ads p {position: absolute; left: 0; top:33%; font-size: 19px; line-height: 1.6;  animation-name: titani-p_1; animation-duration: 0.5s;}

@keyframes titani-p_1 {
    0%{opacity: 0;  transform: scale(0);}
    30%{opacity: 0; transform: scale(0);}
    100%{opacity: 1; transform: scale(1);}
}

.main .inner .Coffee_ads ul {float: right;}

/*section.menu*/
.menu {width: 1400px; margin: 0 auto; color: #333; visibility: hidden; position: absolute;}
.menu h2{ text-align:center;font-size: 40px; font-weight: bold; margin-bottom: 50px;}
.menu h2 .colortext { color: #f57260;}
.menu ul {width: 100%; height: auto; margin: 0 auto;  overflow: hidden;}
.menu ul li {float: left; width: 32.2%; margin-right: 1.7%; margin-bottom: 80px; background: #C5DFFF;}
.menu ul li:nth-child(2){background: #CCD2F0;}
.menu ul li:nth-child(3){margin-right: 0; background: #9FA9D8;}
.menu ul li a {display: block; width: 100%; height: 100%; padding: 50px 0 50px 30px;  box-sizing: border-box; position: relative; overflow: hidden; text-align: left;}
.menu ul li p {font-size: 19px; margin-bottom: 30px;}
.menu ul li h3 {font-size: 26px; margin-bottom: 70px;}
.menu ul li p.img {width: 380px;height: 250px; margin-right: 0; float: right; overflow: hidden;}
.menu ul li p.img img {width: 100%; transition: all 0.3s;}
.menu ul li a:after {content: ''; position: absolute; top:60px;right: 0; width:63%; height: 2px; background: rgba(237,237,233,0.42);}
.menu ul li:nth-child(2) a:after{width:60%;}
.menu ul li:nth-child(3) a:after{width:43%;}
.menu ul li a:hover .img img {
    transform: scale(1.2); transition: all 1s;
}

/*footer*/
footer {width: 100%; height: auto; background: #fff; color: #adadad; overflow: hidden;}
footer .address{width: 1400px; margin: 0 auto; line-height: 1.7;}
footer .address p {float: left; margin: 60px; text-align:center;}
footer .address .flogo {float: right; padding-top: 15px; }
footer .address .copy {font-size: 14px;}

/*.top {float: right; margin-right: 30px; margin-bottom: 30px; width: 80px; height: 80px; background: #454545; border-radius: 50%; background-image: url(../static/arrow.JPG); background-repeat: no-repeat; background-size: 25px; background-position: bottom; position: relative;}*/
.top a{display: block; width:100%; height: 100%; }
.top p{ font-size: 16px; font-weight: bold; color: #fff; position:absolute; top:50%; left: 50%; transform: translate(-50%, -50%);}


/*section. coffee, tea, dessert menu*/

.coffee {width: 1400px; margin: 0 auto; color: #333; margin-top: 0px;}
.coffee h2{ text-align:center;font-size: 40px; font-weight: bold; margin-bottom: 50px;}
.coffee h2 .colortext { color: #f57260;}
.coffee ul {width: 100%; height: auto; margin: 0 auto;  overflow: hidden;}
.coffee ul li p {font-size: 19px; margin-bottom: 30px;}
.coffee ul li {float: left; width: 30%; margin-right: 1.7%; margin-bottom: 80px;}
.coffee ul li p.img {width: 380px;height: 250px; margin-right: 0; float: right;}
.imgs:hover {box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);}
.dessert:hover{box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);}
.dessert:active {box-shadow: 0px 0px 0px;}

/*payment. button*/

.payment {display: flex; position: absolute; left: 20%;}
.payment a {float:left; margin-left: 50px;}


.center {display: flex; position: absolute; width: 100%; height: 100%; justify-content: center; align-items: center; background-color: rgba(0, 0, 0, 0.5); visibility: hidden;}
.payment_windows {display: flex; position: absolute; width: 60%; height: 80%; background-color: white; flex-direction: column; justify-content: space-around;}
.menu_list {display: flex; width: 100%; height: 30%; background-color: white;}
/* .info {display: flex; justify-content: center; align-items: center; background-color: white; width: 20%; border-bottom: 3px solid orange; border-right: 3px solid orange;} */
.info {font-size: 30px; margin-left: 5px; border-bottom: 3px solid orange;}
.btn {display: flex; justify-content: center; align-items: center; border-radius: 10px; width: 20%; margin: 10px 5px; font-size: large; background-color: white; box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);}
.btn:active {background-color: gray;}
.btn:hover {cursor: url(/static/cursor.cur),auto;}
.result {display: flex; justify-content: center; align-items: center;}
.pay_text {width: 250px; height: 70px; text-align: right; font-size: 60px;}
.menu_link:hover {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
}

.home {width: 90px; height: 90px; position: absolute; margin-left: 30%;}
